.container {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
/*头部*/
#header {
  width: 100%;
  min-width: 1226px;
}
#header .site-topbar {
  width: 100%;
  height: 40px;
  background: #333333;
}
#header .site-topbar .container {
  position: relative;
  overflow: hidden;
}
#header .site-topbar .container .topbar-nav {
  float: left;
  line-height: 40px;
}
#header .site-topbar .container .topbar-nav > a {
  display: inline-block;
  line-height: 40px;
  color: #afafaf;
}
#header .site-topbar .container .topbar-nav > a:hover {
  color: #fff;
  text-decoration: none;
}
#header .site-topbar .container .topbar-cart {
  float: right;
}
#header .site-topbar .container .topbar-cart > a {
  display: inline-block;
  width: 120px;
  background-color: #424242;
  line-height: 40px;
  color: #afafaf;
  text-align: center;
  margin-left: 20px;
}
#header .site-topbar .container .topbar-cart > a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #ff6700;
}
#header .site-topbar .container .topbar-cart .topbar-cart-pro {
  position: absolute;
  top: 40px;
  right: 0;
  width: 240px;
  height: 120px;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 120px;
  text-align: center;
  display: none;
}
#header .site-topbar .container .topbar-info {
  float: right;
}
#header .site-topbar .container .topbar-info > a {
  display: inline-block;
  line-height: 40px;
  color: #afafaf;
}
#header .site-topbar .container .topbar-info > a:hover {
  color: #fff;
  text-decoration: none;
}
#header .site-header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}
#header .site-header .container .header-logo {
  float: left;
  width: 55px;
  height: 55px;
  margin-top: 22px;
}
#header .site-header .container .header-logo > a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  background: #ff6700;
  overflow: hidden;
  text-indent: -9999em;
}
#header .site-header .container .header-logo > a::before,
#header .site-header .container .header-logo > a::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.2s;
}
#header .site-header .container .header-logo > a::before {
  background: url(../img/mi-logo.png) no-repeat 50% 50%;
  opacity: 1;
}
#header .site-header .container .header-logo > a::after {
  background: url(../img/mi-home.png) no-repeat 50% 50%;
  opacity: 0;
}
#header .site-header .container .header-logo a:hover::before {
  opacity: 0;
}
#header .site-header .container .header-logo a:hover::after {
  opacity: 1;
}
#header .site-header .container .header-nav {
  float: left;
  width: 850px;
  height: 100px;
}
#header .site-header .container .header-nav ul.nav-list {
  height: 88px;
  padding: 12px 0 0 30px;
}
#header .site-header .container .header-nav ul.nav-list li {
  float: left;
}
#header .site-header .container .header-nav ul.nav-list li a.link {
  display: block;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #333333;
  padding: 26px 10px 40px 10px;
  word-spacing: normal;
}
#header .site-header .container .header-nav ul.nav-list li a:hover {
  text-decoration: none;
  color: #ff6700;
}
#header .site-header .container .header-nav ul.nav-list li .item-children {
  width: 100%;
  height: 230px;
  position: absolute;
  top: 100px;
  left: 0;
  background: #fff;
  border-top: 1px solid #cccccc;
  box-shadow: 0 2px 10px -5px #bababa;
  z-index: 50;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list {
  overflow: hidden;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li {
  float: left;
  position: relative;
  padding: 35px 12px 0;
  text-align: center;
  height: 166px;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li + li::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 1px;
  height: 110px;
  background-color: #d8d8d8;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li a {
  display: block;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li a .product {
  width: 160px;
  height: 110px;
  margin: 0 10px 10px;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li a .title {
  line-height: 20px;
  color: #333;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li a .title:hover {
  color: #333;
}
#header .site-header .container .header-nav ul.nav-list li .item-children .container .childre-list li a .price {
  line-height: 20px;
  color: #ff6700;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category {
  position: relative;
  width: 127px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category {
  position: absolute;
  top: 85px;
  left: -86px;
  width: 234px;
  height: 460px;
  box-sizing: border-box;
  border: 1px solid #ff6700;
  background-color: #fff;
  z-index: 10;
  display: none;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list {
  position: relative;
  padding: 20px 0;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item {
  width: 100%;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item a.title {
  position: relative;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  padding-left: 30px;
  color: #333;
  display: block;
  text-indent: 0;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item a.title .item-icon {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #333;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .category-children {
  position: absolute;
  top: 0;
  left: 234px;
  height: 460px;
  background: #fff;
  box-shadow: 0px 0 16px 2px #b9b9b9;
  display: none;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .category-children .category-children-list {
  overflow: hidden;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .category-children .category-children-list li {
  width: 265px;
  height: 76px;
  line-height: 76px;
  padding-left: 25px;
  box-sizing: border-box;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .category-children .category-children-list li img {
  margin-right: 10px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .category-children .category-children-list li span {
  color: #000;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .children-col-4 {
  width: 992px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .children-col-4 .category-children-list li {
  width: 25%;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .children-col-3 {
  width: 795px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .children-col-2 {
  width: 530px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item .children-col-1 {
  width: 265px;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item:hover {
  background-color: #ff6700;
  color: #fff;
}
#header .site-header .container .header-nav ul.nav-list li.nav-category .site-category ul.site-category-list li.category-item:hover .category-children {
  display: block;
}
#header .site-header .container .header-nav ul.nav-list .nav-category:hover .site-category {
  display: block;
}
#header .site-header .container .header-nav ul.nav-list li.nav-item:hover > .item-children {
  opacity: 1;
  display: block;
}
#header .site-header .container .header-search {
  float: right;
  margin-top: 25px;
}
#header .site-header .container .header-search form {
  overflow: hidden;
  border: 1px solid #e0e0e0;
  position: relative;
}
#header .site-header .container .header-search form #search {
  float: left;
  width: 245px;
  height: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}
#header .site-header .container .header-search form .search-btn {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #fff;
  cursor: pointer;
}
#header .site-header .container .header-search form i {
  position: absolute;
  top: 25px;
  right: 25px;
  transform: translate(50%, -50%);
  font-size: 20px;
  cursor: pointer;
}
/*底部*/
#footer .container .foot-serveice {
  padding: 27px 0;
  border-bottom: 1px solid #ccc;
}
#footer .container .foot-serveice .list-service li {
  width: 20%;
  height: 25px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 25px;
}
#footer .container .foot-serveice .list-service li a {
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
#footer .container .foot-serveice .list-service li a:hover {
  color: #ff6700;
}
#footer .container .foot-serveice .list-service li + li {
  border-left: 1px solid #ccc;
}
#footer .container .foot-info {
  padding: 40px 0;
}
#footer .container .foot-info .col-links {
  float: left;
  width: 13.5%;
  text-align: left;
}
#footer .container .foot-info .col-links dt {
  margin: 0 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
#footer .container .foot-info .col-links dd {
  margin: 10px 0 0;
  font-size: 12px;
}
#footer .container .foot-info .col-links dd a:hover {
  text-decoration: none;
  color: #ff6700;
}
#footer .container .foot-info .col-concat {
  float: right;
  width: 19%;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}
#footer .container .foot-info .col-concat p {
  font-size: 12px;
  margin: 0 0 5px 0;
}
#footer .container .foot-info .col-concat .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
#footer .container .foot-info .col-concat .btn {
  display: block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  border: 1px solid #ff6700;
  margin: 0 auto;
  color: #ff6700;
}
#footer .container .foot-info .col-concat .btn:hover {
  text-decoration: none;
  background-color: #ff6700;
  color: #fff;
}
#footer .container .foot-info .col-concat .follow {
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
#footer .container .foot-message .links {
  margin: 14px 0;
}
#footer .container .foot-message .links a {
  font-size: 14px;
}
#footer .container .foot-message .links a:hover {
  text-decoration: none;
  color: #ff6700;
}
#footer .container .foot-message .links span {
  margin: 0 0.25em;
}
#footer .container .foot-message .text {
  margin: 14px 0;
  font-size: 14px;
  line-height: 20px;
}
#footer .container .foot-message .text a {
  text-decoration: none;
  font-size: 14px;
}
#footer .container .foot-message .text a:hover {
  color: #ff6700;
}
#footer .container .slogan {
  font-size: 21px;
  overflow: hidden;
  text-indent: -9999em;
}
/*右侧固定栏*/
#fixed-nav {
  position: fixed;
  right: 0;
  bottom: 70px;
  z-index: 99;
}
#fixed-nav .item {
  display: block;
  width: 80px;
  padding: 14px 0 10px 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-decoration: none;
  font-size: 14px;
}
#fixed-nav .item .icon {
  width: 30px;
  height: 30px;
  margin: 0 auto 6px;
  position: relative;
}
#fixed-nav .item .icon img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: opacity 0.3s;
}
#fixed-nav .item .icon .static {
  opacity: 1;
}
#fixed-nav .item .icon .hover {
  opacity: 0;
}
#fixed-nav .item .text {
  line-height: 28px;
  text-align: center;
  background-color: #fff;
}
#fixed-nav .item:hover {
  color: #ff6700;
}
#fixed-nav .item:hover .icon .static {
  opacity: 0;
}
#fixed-nav .item:hover .icon .hover {
  opacity: 1;
}
#fixed-nav .last {
  margin-top: 14px;
  display: none;
}
