body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, i, b, strong {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #7b7b7b;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
    vertical-align: middle;
}

ol,
ul,
li {
    list-style: none;
}

input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
    border-style: none;
    outline: none;
    border-radius: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll;
}
 .clearfix:before,
 .clearfix:after {
     display: table;
     content: ".";    /*不用有内容也可以*/
     visibility: hidden;
     height: 0;
     font-size: 0;
 }

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}